@import "tailwindcss";

/* Custom Theme for the Dashboard */
@theme {
  --color-sky: #c3ebfa;
  --color-skyLight: #edf9fd;
  --color-purple: #cfceff;
  --color-purpleLight: #f1f0ff;
  --color-yellow: #fae27c;
  --color-yellowLight: #fefce8;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
  background: #c3ebfa !important;
  color: #000 !important;
}

.react-calendar__tile--now {
  background: #c3ebfa !important;
  color: #000 !important;
}